<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Campagne</title>
</head>
<body>
<h1>Lista Campagne</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Altro Campo</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="campaign : ${campaigns}">
            <td th:text="${campaign.name}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
